@import url(styles/normalize.css);

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Open Sans, sans-serif;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.wrapp {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  position: absolute;
  right: 0;
  left: 0;
}

.header-nav {
  padding: 50px 0;
}

.main-nav {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: -25px;
}

.main-nav a {
  color: currentColor;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.5s;
}

.main-nav a:hover {
  background: #a62ad7;
}

.gradient {
  background: linear-gradient(to right, #b259e1, #778df0);
}

.gradient.pattern{
  background: linear-gradient(to right, rgba(178, 89, 225, 0.85), rgba(119, 141, 240, 0.85)), url(../images/pattern.png);
}

.gradient-reverse {
  background: linear-gradient(to left, #b259e1, #778df0);
}

.first-screen {
  padding-top: 180px;
  padding-bottom: 95px;
}

.img-group {
  max-width: 450px;
  display: flex;
  justify-content: center;
}

.img-group > img:last-child {
  margin-left: -185px;
}

.title-group {
  max-width: 530px;
  margin-left: 100px;
}

.title-group h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.35);
}

.title-group p {
  margin: 50px 0;
}

.title-group h3 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 5px 0 35px;
}

.title-group a {
  display: inline-block;
  width: 200px;
  height: 70px;
}

.title-group a:first-of-type {
  background: url(../images/app-store.png) no-repeat center;
  margin-right: 30px;
}

.title-group a:last-of-type {
  background: url(../images/google-play.png) no-repeat center;
}

.features {
  color: #3b434d;
  text-align: center;
  background: url(../images/bg2.jpg) no-repeat top center;
  background-size: cover;
}

.features .wrapp {
  flex-direction: column;
  padding: 125px 0;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-description {
  margin: 40px 0;
  text-align: center;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list-item {
  padding: 40px;
}

.list-item i {
  width: 100%;
  height: 130px;
  display: block;
  transition: all 0.5s;
}

.list-item:first-child i {
  background: url(../images/full_n.png) no-repeat center;
}

.list-item:hover:first-child i {
  background: url(../images/full_hover.png) no-repeat center;
}

.list-item:nth-child(2) i {
  background: url(../images/listen_n.png) no-repeat center;
}

.list-item:hover:nth-child(2) i {
  background: url(../images/listen_hover.png) no-repeat center;
}

.list-item:last-child i {
  background: url(../images/image_g.png) no-repeat center;
}

.list-item:hover:last-child i {
  background: url(../images/image_g_hover.png) no-repeat center;
}

.list-item h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}

.check {
  padding-top: 100px;
}

.check .wrapp {
  padding-bottom: 100px;
  position: relative;
}

.check h2 {
  font-weight: 400;
}

.column-list {
  max-width: 50%;
  margin-top: 135px;
}

.column-list-item {
  margin-bottom: 50px;
}

.column-list-item:last-child {
  margin-bottom: 0;
}

.column-list-item i {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: url(../images/icons.png) no-repeat center;
  float: left;
  margin-left: -70px;
}

.column-list-item:first-child i {
  background-position: top center;
}

.column-list-item:nth-child(2) i {
  background-position: center;
}

.column-list-item:last-child i {
  background-position: bottom center;
}

.column-list-item h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.big-img {
  bottom: -5px;
  position: absolute;
  right: 0;
  width: 45%;
}
