@import url(styles/normalize.css);

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Open Sans, sans-serif;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.wrapp {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  position: absolute;
  right: 0;
  left: 0;
}

.header-nav {
  padding: 50px 0;
}

.main-nav {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: -25px;
}

.main-nav a {
  color: currentColor;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.5s;
}

.main-nav a:hover {
  background: #a62ad7;
}

.gradient {
  background: linear-gradient(to right, #b259e1, #778df0);
}

.gradient.pattern{
  background: linear-gradient(to right, rgba(178, 89, 225, 0.85), rgba(119, 141, 240, 0.85)), url(../images/pattern.png);
}

.gradient-reverse {
  background: linear-gradient(to left, #b259e1, #778df0);
}

.first-screen {
  padding-top: 180px;
  padding-bottom: 95px;
}

.img-group {
  max-width: 450px;
  display: flex;
  justify-content: center;
}

.img-group > img:last-child {
  margin-left: -185px;
}

.title-group {
  max-width: 530px;
  margin-left: 100px;
}

.title-group h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.35);
}

.title-group p {
  margin: 50px 0;
}

.title-group h3 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 5px 0 35px;
}

.title-group a {
  display: inline-block;
  width: 200px;
  height: 70px;
}

.title-group a:first-of-type {
  background: url(../images/app-store.png) no-repeat center;
  margin-right: 30px;
}

.title-group a:last-of-type {
  background: url(../images/google-play.png) no-repeat center;
}

.features {
  color: #3b434d;
  text-align: center;
  background: url(../images/bg2.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.features .wrapp {
  flex-direction: column;
  padding: 125px 0;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-description {
  margin: 40px 0;
  text-align: center;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list-item {
  padding: 40px;
}

.list-item i {
  width: 100%;
  height: 130px;
  display: block;
  transition: all 0.5s;
}

.list-item:first-child i {
  background: url(../images/full_n.png) no-repeat center;
}

.list-item:hover:first-child i {
  background: url(../images/full_hover.png) no-repeat center;
}

.list-item:nth-child(2) i {
  background: url(../images/listen_n.png) no-repeat center;
}

.list-item:hover:nth-child(2) i {
  background: url(../images/listen_hover.png) no-repeat center;
}

.list-item:last-child i {
  background: url(../images/image_g.png) no-repeat center;
}

.list-item:hover:last-child i {
  background: url(../images/image_g_hover.png) no-repeat center;
}

.list-item h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}

.check {
  padding-top: 100px;
  overflow: hidden;
}

.check .wrapp {
  padding-bottom: 100px;
  position: relative;
}

.check h2 {
  font-weight: 400;
}

.column-list {
  max-width: 50%;
  margin-top: 135px;
}

.column-list-item {
  margin-bottom: 50px;
}

.column-list-item:last-child {
  margin-bottom: 0;
}

.column-list-item i {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: url(../images/icons.png) no-repeat center;
  float: left;
  margin-left: -70px;
}

.column-list-item:first-child i {
  background-position: top center;
}

.column-list-item:nth-child(2) i {
  background-position: center;
}

.column-list-item:last-child i {
  background-position: bottom center;
}

.column-list-item h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.big-img {
  bottom: -5px;
  position: absolute;
  right: 0;
  width: 45%;
}

.screenshots {
  padding: 120px 0;
  background: url(../images/bg3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.section-title.light {
  font-size: 48px;
  font-weight: 400;
  color: #3b434d;
}

.screen-group {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.screen-item {
  position: relative;
}

.screen-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/hover-screen.png) no-repeat center;
  opacity: 0;
  transition: all 0.5s;
}

.screen-item:hover:after {
  opacity: 1;
}

.slide-nav {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.slide-nav li {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.slide-nav li.active a {
  background-color: #a62ad7;
  cursor: default;
}

.slide-nav a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #a62ad7;
  border-radius: 50%;
  transition: all 0.5s;
}

.slide-nav a:hover {
  background-color: #a62ad7;
}

.testimonial {
  padding: 130px 0 50px;
}

.testimonial-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar {
  border: 5px solid #fff;
  border-radius: 50%;
  max-width: 195px;
  max-height: 195px;
}

.mention {
  max-width: 770px;
  quotes: "\201c" "\201e";
}

blockquote:before {
  font-family: Times, serif;
  content: open-quote;
  font-size: 60px;
  margin-left: -30px;
}

blockquote:after {
  font-family: Times, serif;
  content: close-quote;
  font-size: 60px;
  margin-left: 30px;
  line-height: 16px;
}

address {
  margin-top: 45px;
  font-style: normal;
}

address span {
  display: block;
  line-height: 30px;
}

address .name {
  font-size: 18px;
}

.testimonial .slide-nav a{
  border-color: #fff;
}

.testimonial .slide-nav .active a{
  background-color: #fff;
}

.testimonial .slide-nav a:hover {
  background-color: #fff;
}


.ask {
  color: #3b434d;
  padding: 140px 0;
}

.contacts {
  text-align: center;
  font-size: 27px;
  margin: 50px 0;
}

.contacts a {
  text-decoration: none;
  color: currentColor;
}

.peoples {
  flex-wrap: wrap;
}

.people-item {
   width: 45%;
   padding: 50px 0;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row-reverse;
   padding-right: 0;
   justify-content: space-between;
}

.people-item:nth-child(odd) {
  text-align: right;
  flex-direction: row;
  padding-left: 0;
}

.people-item .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.people-item .work::after {
  content: "";
  display: block;
  border-bottom: 1px solid;
  margin: 15px 0;
}

.social-links {
  display: block;
  margin: 25px 0;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  display: inline-block;
  opacity: 0.7;
  width: 20px;
  height: 20px;
  padding: 0 5px;
  background: url(../images/social-links.png) no-repeat center;
  transition: all 0.5s;
}

.social-links li a:hover {
  background: url(../images/social-links-hover.png) no-repeat center;
  opacity: 1;
}

.social-links li:first-child a{
  background-position: 5px;
}

.social-links li:nth-child(2) a{
  background-position: -20px;
}

.social-links li:nth-child(3) a{
  background-position: -52px;
}

.social-links li:nth-child(4) a{
  background-position: -90px;
}

.social-links li:nth-child(5) a{
  background-position: -121px;
}

.social-links li:last-child a{
  background-position: -155px;
}

.face {
  max-width: 165px;
  max-height: 165px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  background: linear-gradient(to right, #b259e1, #778df0);
  margin-right: 10px;
}

.people-item:nth-child(odd) .face {
  margin-left: 10px;
  margin-right: 0;
}

.face:hover{
  animation: gradient 0.8s infinite linear;
}

@keyframes gradient {
  from {
    background: linear-gradient(to right, #b259e1, #778df0);
  }

  12.5% {
    background: linear-gradient(to bottom right, #b259e1, #778df0);
  }

  25% {
    background: linear-gradient(to bottom, #b259e1, #778df0);
  }

  37.5% {
    background: linear-gradient(to bottom left, #b259e1, #778df0);
  }

  50% {
    background: linear-gradient(to left, #b259e1, #778df0);
  }

  62.5% {
    background: linear-gradient(to top left, #b259e1, #778df0);
  }

  75% {
    background: linear-gradient(to top, #b259e1, #778df0);
  }

  to {
    background: linear-gradient(to top right, #b259e1, #778df0);
  }
}
